.containerFooter {
  background-color: black;
  position: relative;
  /* height: 90px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.line {
  margin: 0 auto;
  margin-top: 20px;
  height: 1px;
  width: 85%;
  background-color: #bafbb5;
}

.contacts {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.containerFooter p {
  display: inline-block;
  /* margin-left: 5%;
  margin-top: 50px; */
}

.containerFooter a {
  text-decoration: none;
  color: #bafbb5;
}

.facegookIcon {
  width: 30px;
  filter: invert();
  cursor: pointer;
}

@media (min-width: 768px) {
  .line,
  .contacts {
    width: 90%;
  }
}
