@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  width: 100%;
}

header {
  width: 0;
  margin: 0;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

.cover {
  background-image: url(/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
}

.cover_text {
  width: 80%;
  padding-top: 20%;
  margin: 0 auto;
}

.cover_text > button {
  background-color: #bafbb5;
  border: none;
  padding: 12px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  height: 30%;
}

header {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: white;
}

/* Header */

.nav_bar {
  display: flex;
  flex-direction: row;
  margin: 5%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.nav_bar img {
  width: 150px;
  height: auto;
  position: fixed;
  left: 10px;
  top: 15px;
}

.nav_bar button {
  z-index: 10;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

.nav_bar button:active {
  border: none;
}

.menu_nav {
  /* overflow-y: scroll; */
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  z-index: 9;
  background: black;
}

.menu_nav.show_menu {
  width: 100vw;
}

.nav_bar ul {
  padding: 0;
}

.menu_nav__first {
  margin-top: 25%;
}

.nav_bar a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.hamburger {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.nav_bar span {
  display: block;
  margin: 8px auto;
  background-color: white;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  transform: translateY(10px) rotate(45deg);
  background-color: white;
}

.hamburger.is-opened span:nth-child(2) {
  transform: scaleX(0);
}

.hamburger.is-opened span:last-child {
  transform: translateY(-16px) rotate(-45deg);
  background-color: white;
}

@media (min-width: 768px) {
  header {
    margin-top: 50px;
  }
  .nav_bar {
    width: 90vw;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 0 50px 0;
    /* font-size: 10px; */
  }
  .menu_nav {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10%;
    /* max-width: 700px; */
  }

  .nav_bar button {
    display: none;
  }
  /* 
  .logo_image {
    width: 20%;
  } */
  .menu_nav__first {
    margin-top: 0;
  }
  .menu_nav li {
    flex-grow: 1;
  }
  .nav_bar a {
    color: black;
  }
}

h1 {
  padding-top: 40px;
}
