.team {
  height: 100vh;
  background-color: black;
  color: white;
}

.team h1 {
  width: 100%;
}

.containerTeam {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  width: 60%;
}

.line {
  height: 1px;
  background: #bafbb5;
}

.team a {
  text-decoration: none;
  color: #bafbb5;
}

@media (min-width: 768px) {
  .contact {
    margin-top: 20px;
    width: 30%;
  }
}
